/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* GENERAL STYLES */

html {
	font-size: 16px;
	line-height: 21px;
}

body {
	color: #272726;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	text-align: left;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 1.875em;
	font-weight: 400;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}

h3, 
h4 {
	font-size: 1.125em;
	font-weight: 600;
}

h5 {
	font-size: 1em;
	font-weight:500
}

p {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.285;
}

a {
	color: #5ca079;
	text-decoration: none;
}

i {
	font-size: 2.5em
}

img {
	width: 100%;
}

figure {
	margin: 0;
}

/* ================= Home Page =================*/


/* -------------------- Left-section Styles -------------------- */

.main-menu {
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-menu .headshot,
.main-menu .name,
.main-menu .title,
.main-menu .email-button,
.main-menu .social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 80%;
}

.main-menu .logo {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
	margin: 25px 0 40px 20px;
}

.headshot img {
	border-radius: 50%;
	width: 60%;
	height: auto;
	margin-bottom: 40px;
}

.main-menu .about {
	margin: 10px 20px 40px;
}

.main-menu .social-icons {
	margin-bottom: 25px;
}

.say-hello[type=button] {
  width: 45%;
  margin-bottom: 25px;
  padding: 20px 0;
  background-color: #5ca079;
  font-weight: 500;
  font-size: 1.125em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
}


/* -------------------- Right-section Styles -------------------- */

.portfolio-item  {
	background-color: #5ca079;
	border-top: thin solid #272726;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 80%;
}

.portfolio-item figure {
	margin: 50px;
}

.portfolio-item .description {
	margin: 0 0 10px 50px;
}

/* ================= Unplugged Page =================*/


.portfolio-page {
	background-color: #f0f0f0
}

/* -------------------- Header Styles -------------------- */

.unplugged-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	margin: 25px 0 25px 50px;
}

.unplugged-header .content-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
}


/* -------------------- Unplugged Article Styles -------------------- */


.info {
	margin: 0 50px;
}

#unplugged figure {
	margin: 50px 20%;
	
}

.nav-button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	margin: 25px 0 50px 0;
}

.navigate[type=button] {
  width: 17%;
  padding: 20px 10px;
  background-color: #5ca079;
  font-weight: 500;
  font-size: 1.125em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 786px) {
  /* Style adjustments for viewports that meet the condition */

/* ================= Home Page =================*/
	
	/* ------ General Styles ----- */
	
	h1 {
		font-size: 1.875em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.125em;
	}
	
	h4 {
		font-size: 1.25em;
	}

	h5 {
		font-size: 1.125em;
	}

	p {
		font-size: 1.125em;
	
	}

	i {
		font-size: 2.75em
	}
	
	/* ------ Formating Styles ----- */	
	
	.main-menu {
		height: 100%;
		width: 33%;
		position: fixed;
		z-index: 1; 
		top: 0;
		left: 0;
		overflow-x: hidden;
	}
	
	.home-main {
		margin-left: 33%;
	}
	
	.portfolio-item {
		border-left: thin solid #272726;
		
	}
	
	.border-top {
		border-top: none;
	}
	
	
	/* ================= Unplugged Page =================*/
	.unplugged-header {
		margin: 40px 100px
	}
	
	.info {
	margin: 0 100px;
	}
	
}


@media only screen and (min-width: 1200px) {
  /* Style adjustments for viewports that meet the condition */
	
		/* ------ General Styles ----- */
	
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2.25em;
	}

	h3, 
	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 1.25em;
	}

	i {
		font-size: 3em
	}
	
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

